body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    background-color: #F2DEBF;
}

nav {
    padding: 25px;
    justify-content: space-around;
}

nav a {
    margin-left: 50px;
    margin-right: 50px;
}

nav img {
    float: right;
    position: relative;
    top: -45px;
    width: 150px;
    height: 150px;
}

a {
    font-size: 24px;
    text-decoration: none;
    padding: 15px 20px 25px 25px;
    background-color: #F2DEBF;
    border-radius: 5%;
    color: black;
}

header {
    background-color: #E7C298;
    padding: 10px;
    padding-bottom: 37px;
}

h1 {
    text-align: center;
    font-size: 72px;
}

.div {
    background-color: red;
    height: 100%;
    width: 800px;
}

.main-information {
    width: 1700px;
    height: 800px;
}

.main-information-img {
    background-color: #C2A67A;
    padding: 40px;
    width: 500px;
    height: 700px;
    float: left;
    margin-left: 180px;
}

.main-information-img p {
    text-align: center;
}

.main-information-img img {
    margin-top: 20px;
}

.main-information-right {
    float: right;
    position: relative;
    left: -200px;
    top: -80px;
    width: 500px;
    font-size: 70px;
}

h2 {
    margin-top: 70px;
    text-align: center;
    font-size: 52px;
}

.main-inf-2 {
    position: relative;
    height: 300px;
}

.main-information-img-2 {
    margin-left: 180px;
    width: 800px;
    height: 500px;
    float: left;
}

.main-information-img-2 p {
    font-size: 30px;

}

.main-information-right-2 {
    float: right;
    position: relative;
    left: -300px;
    top: -80px;
    width: 500px;
    font-size: 60px;
    /* margin: 40px; */
}

footer {
    margin-top: 200px;
    background-color: #FFE2C2;
    height: 100px;
}

footer img {
    padding: 20px;
    margin-left: 50px;
}
